{% extends "backend/base.html" %}
{% block content %}
<!-- Companion Javascript File-->
{% load static %}
<script src="{% static 'backend/survey_scripts.js' %}"></script>

<!-- Forms -->
<form action="{% url 'survey-form' %}" id="survey-form-view" method="post" onsubmit="checkAll(event)">
  {% csrf_token %}
  {% for f in form %}
  <div class="card">
    <div class="card-body">
      {{ f.errors }}
      {{ f.label_tag }}
      {{ f }}
    </div>
  </div>
  {% endfor %}
  <!-- Notifications for incorrect for entries -->
  <div id="alert-container"></div>

  <!-- Submit Button -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" id="formSubmitBtn">Submit</button>
    </div>
  </div>
</form>
{% endblock content %}